# Architecture
BR2_aarch64=y

# System
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"

# Toolchain
BR2_TOOLCHAIN=y
BR2_TOOLCHAIN_USES_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL=y

# Toolchain External Options
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_20=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=n
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="aarch64-none-linux-gnu"

# Add cpio
BR2_TARGET_ROOTFS_CPIO=y
#BR2_TARGET_ROOTFS_CPIO_GZIP=y

# Add for dmsetup
BR2_PACKAGE_LVM2=y

# Add for kdump
BR2_PACKAGE_KEXEC=y

# Add gdb
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_ENABLE_DEBUG=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_HOST_GDB=y
BR2_INSTALL_LIBSTDCPP=y
BR2_PACKAGE_GDB_DEBUGGER=y
BR2_PACKAGE_GDB_TUI=y
BR2_PACKAGE_GDB_PYTHON=y
BR2_TOOLCHAIN_EXTERNAL_GDB_SERVER_COPY=y
